form {
  font-family: Arial;
  font-size: 20px;

}
  input {
    font: 30px 'PT Sans', sans-serif;
    font-size: 20px;
    width: 35px;
  }
  fieldset{
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    legend{
      margin: 0;
      padding: 0;
      font-size: 100%;
      label{
        position: absolute;
        top: -20em;
        left: -200em;
      }
      select{
        margin: 0;
        padding: 0;
        font-size: 100%;
        display: inline;
        border-radius: 4px;
      }
    }
  }
  fieldset.date select:active,
  fieldset.date select:focus,
  fieldset.date select:hover
  {
    border-color: darkgray;
    background-color: gray;
  }

div {
  width: 30%;
  height: 50%;
  border-radius: 6px;
  vertical-align:baseline;
}

input {
  margin-bottom: 2%;
}

div input.submit {
  border-radius: 5px;
  padding: 10px 15px;
  float: right;
  position: relative;
  border-style: double;
  right: 10px;
}

div img {
  float:left;
  margin: -210px 0 0 -190px;
}

input.content  {
  width: 60%;
  background-color: rgba(58, 128, 65, 0.59);
}

div#form-style-2 {
  max-width: 560px;
  box-shadow: rgb(58, 128, 65) 1px 1px 20px 1px;
  font: 20px "PT Sans", sans-serif;
  margin: auto;
  padding: 200px 85px;
  border-radius: 5px;
}

div#form-style-2 label span#sp2 {
  width: 285px;
  text-align: right;
  display:inline-block;
  font: 15px "PT Sans", sans-serif;
  float: right;
  line-height: 20px;
  word-break: break-all;
  margin-right: 27px;
}

div#form-style-2 input[type="submit"], div#form-style-2 input[type="button"] {
  width: 40%;
  height: 50px;
  float: right;
  color: $bg-color;
  margin-right: 28px;
  background: rgb(239, 43, 47);
  border-radius: 5px;
  border-color: transparent;
}
div#form-style-2 form label.text span input[type="checkbox"] {
  width: 110px;
  display: inline-block;
  float: right;
  position: absolute;
  z-index: 1;
}

div#form-style-2 form input[type="submit"]:hover, div#form-style-2 form input[type="button"]:hover{
  color: $bg-color;
  background: rgb(234, 225, 24);
}
div form input[type="text"] {
  width: 74.5%;
}
div#form-style-2 form input[type="email"] {
  width:74.5%;
}
form span.email {
  padding-left: 3px;
}
form fieldset.date select#month, form fieldset.date select#day, form fieldset.date select#year {
  padding: 10.3px;
  font-family: "PT Sans", sans-serif;
}