nav#navFirst {
  border: 2.5px solid $hover-color;
  margin: 10px auto;
  width: 85%;
  text-align: center;
  padding: 0;
  ul.clear {
    clear: both;
    overflow: auto;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &:hover {
        background: url("../img/hover-img.png") no-repeat center bottom;
      }
      a {
        text-decoration: none;
        color: $hover-color;
        font: 30px 'PT Sans', sans-serif;
        display: block;
        padding: 20px 60px;
      }
    }
  }
}