$bg-color: #ffffff;
$hover-color: yellow;
$text-color: #38804f;

@import "banner";

nav {
  text-align: center;
  h2 {
    font: 30px "sans-serif";
    font-size: 35px;
  }
  ul {
    display: inline;
    background: $bg-color;
    border: 3px solid seagreen;
    margin: 5px;
    padding: 15px 10px;
    list-style: none;
  }
  li {
    display: inline-block;
    word-spacing: 20px;
  }
  a {
    display: inline-block;
    color: $text-color;
    padding: 10px 16px;
    text-decoration: none;
  }

  a.hover {
    background: $hover-color;
  }
}
