/* line 1, ../sass/_banner.scss */
.banner-img {
  margin: 0;
  border: 0;
  height: 100%;
}

/* line 7, ../sass/main.scss */
nav {
  text-align: center;
}
/* line 9, ../sass/main.scss */
nav h2 {
  font-family: "Calibri Light";
  font-size: 35px;
}
/* line 13, ../sass/main.scss */
nav ul {
  display: inline;
  background: #ffffff;
  border: 3px solid seagreen;
  margin: 5px;
  padding: 15px 10px;
  list-style: none;
}
/* line 21, ../sass/main.scss */
nav li {
  display: inline-block;
  word-spacing: 20px;
}
/* line 25, ../sass/main.scss */
nav a {
  display: inline-block;
  color: #38804f;
  padding: 10px 16px;
  text-decoration: none;
}
/* line 32, ../sass/main.scss */
nav a.hover {
  background: yellow;
}
